<!-- Footer -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <ul class="list-inline text-center">
<!--
            <% if (config.github_username) { %>
              <li>
                <a target="_blank"  href="https://github.com/<%= config.github_username %>">
                  <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                  </span>
                </a>
              </li>
            <% } %>

            <% if (config.zhihu_username) { %>
                <li>
                  <a target="_blank" href="https://www.zhihu.com/people/<%= config.zhihu_username %>">
                    <span class="fa-stack fa-lg">
                      <i class="fa fa-circle fa-stack-2x"></i>
                      <i class="fa  fa-stack-1x fa-inverse">知</i>
                    </span>
                  </a>
                </li>
            <% } %>
-->
        </ul>
        <p class="copyright text-muted">
            Copyright &copy;
            <%= config.title %>
            <%= new Date().getFullYear() %>
          <br>
            Theme by Hux
<!--
            <span style="display: inline-block; margin: 0 5px;">
            <i class="fa fa-heart"></i>
            </span>
-->
            <span> | </span>
            Ported by Kaijun
            <span> | </span>
            Modified by zihengCat
<!--
          <iframe
           style="margin-left: 2px; margin-bottom:-5px;"
           frameborder="0" scrolling="0" width="91px" height="20px"
           src="https://ghbtns.com/github-btn.html?user=kaijun&repo=hexo-theme-huxblog&type=star&count=true" >
          </iframe>
-->
          </br>
          <span id="busuanzi_container_site_pv">
            本站访问量<span id="busuanzi_value_site_pv"></span>次 |
          </span>
          <span id="busuanzi_container_site_uv">
            本站访客数<span id="busuanzi_value_site_uv"></span>人 |
          </span>
          <span id="busuanzi_container_page_pv">
            本文阅读量<span id="busuanzi_value_page_pv"></span>次
          </span>
        </p>
      </div>
    </div>
  </div>
</footer>

<% if (config.busuanzijs) { %>
<!-- BuSuanzi.js -->
<script type="text/javascript" async src="//dn-lbstatics.qbox.me/busuanzi/2.3/busuanzi.pure.mini.js"></script>
<% } %>

<% if (config.highlightjs) { %>
<!-- Highlight.js -->
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/github.min.css">
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
<script>
    hljs.initHighlightingOnLoad();
</script>
<% } %>

<% if (config.mathjaxjs)  { %>
<script type="text/javascript" async src="//cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.3/MathJax.js?config=TeX-MML-AM_CHTML">
</script>
<script type="text/x-mathjax-config">
    MathJax.Hub.Config({
        tex2jax: {
            inlineMath: [ ['$', '$'] ],
            skipTags: ['code', 'script', 'noscript', 'style', 'textarea', 'pre']
        }
    });
</script>
<% } %>

<!-- jQuery -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Bootstrap Core JavaScript -->
<script type="text/javascript" src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

<!-- Custom JavaScript -->
<%- js('js/hux-blog.js') %>

<!-- Async Load Function -->
<script>
    function async(u, c) {
      var d = document, t = 'script',
          o = d.createElement(t),
          s = d.getElementsByTagName(t)[0];
      o.src = u;
      if (c) {
          o.addEventListener(
              'load',
              function (e) {
                  c(null, e);
              },
              false
          );
      }
      s.parentNode.insertBefore(o, s);
    }
</script>

<!-- jQuery.tagCloud.js -->
<!--
<script type="text/javascript">
    /* only load tagcloud.js in tag.html */
    if($('#tag_cloud').length !== 0) {
        async("https://raw.githubusercontent.com/addywaddy/jquery.tagcloud.js/master/jquery.tagcloud.js",
        function() {
            $.fn.tagcloud.defaults = {
                // size: { start: 1, end: 1, unit: 'em' },
                color: { start: '#bbbbee', end: '#0085a1' },
            };
            $('#tag_cloud a').tagcloud();
        });
    }
</script>
-->

<!--fastClick.js -->
<script>
    async("https://cdnjs.cloudflare.com/ajax/libs/fastclick/1.0.6/fastclick.js",
    function(){
        var $nav = document.querySelector("nav");
        if($nav) {
            FastClick.attach($nav);
        }
    })
</script>

<!-- Side Catalog -->
<% if (page.catalog) { %>
<script type="text/javascript">
    function generateCatalog (selector) {
        var P = $('div.post-container'),a,n,t,l,i,c;
        a = P.find('h1,h2,h3,h4,h5,h6');
        a.each(function () {
            n = $(this).prop('tagName').toLowerCase();
            i = "#"+$(this).prop('id');
            t = $(this).text();
            c = $('<a href="'+i+'" rel="nofollow">'+t+'</a>');
            l = $('<li class="'+n+'_nav"></li>').append(c);
            $(selector).append(l);
        });
        return true;
    }
    generateCatalog(".catalog-body");
    // toggle side catalog
    $(".catalog-toggle").click((function(e){
        e.preventDefault();
        $('.side-catalog').toggleClass("fold")
    }))
    /*
     * Doc: https://github.com/davist11/jQuery-One-Page-Nav
     * Fork by Hux to support padding
     */
    async("<%= config.root%>js/jquery.nav.js", function () {
        $('.catalog-body').onePageNav({
            currentClass: "active",
            changeHash: !1,
            easing: "swing",
            filter: "",
            scrollSpeed: 700,
            scrollOffset: 0,
            scrollThreshold: .2,
            begin: null,
            end: null,
            scrollChange: null,
            padding: 80
        });
    });
</script>
<% } %>
